.websiteName {
background-color: blueviolet;
}
.list{
    float: right;
}
.list ul {
    display: flex;
    list-style: none;

}
.list ul li {
    display: block;
    text-align: center;
    color: black;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}
