@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
    --primary-orange : #f9ab00 ;
    --primary-dark : rgb(255, 255, 255 , 0)
}

body{
    font-family: "Roboto Condesed" sans-serif ;
}


.websiteName {
background-color: blueviolet;
}
.list{
    float: right;
}
.list ul {
    display: flex;
    list-style: none;

}

/*---- menu link ------- */

nav a.nav-link  {
    font-weight: 500 ;
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}
.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 00.75rem;
color: #fff !important;
border-top: 0.1875rem solid var(--primary-dark);
}
.navbar-brand {
    font-weight: bolder;
color: #fff !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
    border-top: 0.1875rem solid var(--primary-orange );
}
.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
   
}